{% extends '_base.html' %}

{% block content %}
  <h1 class="text-3xl">Welcome, we are so glad you are here 👋 🐍 </h1>
  <br>
  <p> Welcome to the Fluent Python Journey reading tracker!</p>
  <br>
  <p> This is a simple web app that allows you to track your progress while working through the book
    <i>"Fluent Python"</i> by Luciano Ramalho.
    The idea is to commit to read a minimum of 5 minutes <i>every day</i>.
  </p>
  <br>
  <p>This page exists to help you in accomplishing your goal ✅</p>
{% endblock %}
