# .pre-commit-config.yaml
default_language_version:
    python: python3.11
default_install_hook_types: [pre-commit, commit-msg]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "4.0"]
-   repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
    -   id: curlylint
        exclude: templates/_form_template.html
        # Excluding this one specific template file since it leads to a false error, even though the template is correct
        # Can investigate further later
-   repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
    -   id: djhtml
        args:
        -   --tabwidth=2
