# After making changes run the following commands from the repo root to install the new packages:
# pip-compile requirements-dev.in
# pip install requirements-dev.txt
# All in one:
# pip-compile requirements-dev.in && pip install -r requirements-dev.txt
-c requirements.txt

black
curlylint
django-upgrade
djhtml
flake8
isort
pip-tools
pre-commit
ipython # for nicer django shell experience during development
